	
	table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:before, table.dataTable thead .sorting_desc_disabled:after {
		position: absolute;
		bottom: 0.3em !important;
		display: block;
		opacity: 0.3;
	}
	table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
		top: 4px !important;
	}
	.page-link {
		padding: .25rem .25rem !important;
		font-family: Lato,Arial,sans-serif !important;
		vertical-align: inherit;
		font-size: 90%;
		font-weight: 700;
	}
	.btn-group-sm>.btn, .btn-sm {
		padding: .1rem .3rem;
		font-size: 12px;
		line-height: 1.5;
		border-radius: .2rem;
	}
	.table-striped>thead>tr {
		   background-color: #f2f6f8;
	} 
	table.dataTable tbody tr:hover, table.grid tbody tr:hover {
		background: #eaedf1;
	}
	.table-striped>tbody>tr:nth-of-type(odd) {
		background-color: #fff;
	} 
	.table-striped>tbody>tr:nth-of-type(even) {
		background-color: #F8FAFB;
	}
	.table th {
			font-weight: 900 !important;
	}
	table td img{
			width:23px !important;
			height:23px !important;
	}
	table td, table th {
		padding-top: 3px !important;
		padding-bottom: 3px !important;
		font-family: Lato,Arial,sans-serif !important;
		vertical-align: inherit;
		font-size: 70.5%;
		border-left: none!important;
		border-right: none!important;
		color: #415a71 !important;
		font-weight: 700 !important;
	}
	table tbody td, table thead th {
		word-wrap: break-word;
		padding: 5px;
		height: 20px;
		border-left: none;
		border-right: none;
		border-top: none;
	}
	select.form-control {
		padding: 0px 8px;
	}
	.form-control , select .form-control , .select2{
		height: 26px !important;
		padding: 4px 8px;
		font-weight: bold;
		text-overflow: ellipsis;
		overflow: hidden;
		font-size: 12px;
		box-shadow: none;
		border: 2px solid #D7E3ED !important;
		background-color: #FAFBFC;
		color: #283d51;
	}
	.select2,.select2-results__option{
		font-size: 12px !important;
		padding: 1px 8px;
	}
	.select2-container--default .select2-selection--multiple {
		background-color: none !important;
		border: none !important;
		border-radius: 4px;
		cursor: text;
	}
	.select2-container--default .select2-selection--multiple .select2-selection__choice {
		color: #000 !important;
	}
	.select2-container--default .select2-selection--multiple .select2-selection__choice {
		margin-top: 1px !important;
	}
	textarea {
		height: 150px !important;
		width:100%;
		padding: 4px 8px;
		font-weight: bold;
		text-overflow: ellipsis;
		overflow: hidden;
		font-size: 12px;
		box-shadow: none;
		border: 2px solid #D7E3ED !important;
		background-color: #FAFBFC;
		color: #283d51;
	}
	.tox-tinymce {
		border: 2px solid #D7E3ED !important;
		background-color: #FAFBFC;
	}
	.tox .tox-toolbar, .tox .tox-toolbar__overflow, .tox .tox-toolbar__primary {
		border-top: 2px solid #D7E3ED !important;
	}
	.tox .tox-sidebar-wrap {
		border-top: 2px solid #D7E3ED !important;
		border-bottom: 2px solid #D7E3ED !important;
	}
	label {
		font-size: 12px;
		color: #4f769d;
		margin-bottom: 5px;
	}
	.btn.btn-green {
		background: #95BF03;
		border-color: #95BF03;
		color: #fff;
	}
	.btn.btn-grey {
		border-color: #E6E7E8;
		background-color: #E6E7E8;
		color: #212529;
	}
	.btn.btn-blue {
		border-color: #5bc0de;
		background-color: #5bc0de;
		color: #fff;
	}
	.btn.btn-red {
		border-color: #ce110b;
		background-color: #ce110b;
		color: #fff;
	}

	.form.btn .fa {
		position: relative;
		left: -4px;
	}
	.form.btn {
		padding: 5px 20px 5px 20px !important;
		border-radius: 100px !important;
	}
	.error{
		color: red;
		margin-bottom: 0;
		margin-top: 5px;
		font-size: 85%;
	}
	.tox .tox-mbtn__select-label {
		cursor: default;
		font-weight: 700 !important;
		margin: 0 4px;
		color: #415a71 !important;
	}
	.breadcrumb a, .breadcrumb a {
		color: #4f769d;
	}
	.breadcrumb li.active {
		color: #4f769d;
		font-weight: bold;
	}
	.breadcrumb a:focus, .breadcrumb a:hover {
		text-decoration: underline;
	}
	.content-header .breadcrumb {
		line-height: 2rem !important;
	}
	.sidebar-dark-primary {
		background-color: #000000 !important;
	}
	.nav-link {
		display: block;
		padding: 0.5rem 0.2rem !important;
	}
	.sidebar-dark-primary .nav-sidebar>.nav-item.menu-open>.nav-link {
		border-left: none !important;
		
	}
	.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active {
		color: #fff;
		background-color: #39f !important;
	}
	.nav-pills .nav-link {
		border-radius: 0rem !important;
	}
	.nav-sidebar .nav-item>.nav-link {
		margin-bottom: 0rem !important; 
	}
	.sidebar-dark-primary .nav-treeview>.nav-item>.nav-link.active, .sidebar-dark-primary .nav-treeview>.nav-item>.nav-link.active:hover {
		color: #ffffff !important;
		background-color: #35506a !important;
		font-weight: bold !important;
	}
	.nav-sidebar>.nav-item {
		background: #283d51;
		font-size: 14px;
		border-top: 1px solid #1b2733;
		margin-bottom: 0;
		font-family: Lato,Arial!important;
	}
	.sidebar-dark-primary .nav a {
		color: #8cb3d9 ;
	}
	.sidebar-dark-primary .nav-treeview>.nav-item>.nav-link {
		color: #8cb3d9;
	}
	.sidebar-dark-primary .nav-treeview>.nav-item>.nav-link:hover {
		color: #fff;
		background-color: transparent;
	}
	.nav-sidebar>.nav-item .nav-icon {
		text-align: center;
		width: 1.6rem;
		font-size: 15px !important;
		margin-right: .2rem;
	}
	.main-sidebar {
		overflow-x: hidden;
	}
	::-webkit-scrollbar {
	  width: 5px;
	}

	/* Track */
	::-webkit-scrollbar-track {
	  box-shadow: inset 0 0 5px #283d51; 
	  border-radius: 5px;
	}
	 
	/* Handle */
	::-webkit-scrollbar-thumb {
	  background: #ffffff; 
	  border-radius: 10px;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
	  background: #ffffff; 
	}
	
	
	
	
	.custom-select {
		background: none !important;
	}
	.modal a.close-modal{
		top: 3px !important;
		right: 3px !important;
	}
	.submenu-bg {
		background: #35506a  !important;
	}
	.sidebar-dark-primary .nav-sidebar>.nav-item.menu-open>.nav-link{
		border-left: 4px solid #17a2b8;
	}
	.nav-item.active{
		border-left: 4px solid #17a2b8;
	}
	 .switch {
	  position: relative;
	  display: inline-block;
	  width: 38px;
	  height: 16px;
	  top:4px;
	}

	.switch input { 
	  opacity: 0;
	  width: 0;
	  height: 0;
	}

	.slider {
	  position: absolute;
	  cursor: pointer;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  /*background-color: #ccc;*/
	  background-color:#d94848;
	  -webkit-transition: .4s;
	  transition: .4s;
	}

	.slider:before {
	  position: absolute;
	  content: "";
	  height: 10px;
	  width: 10px;
	  left: 1px;
	  bottom: 3px;
	  background-color: white;
	  -webkit-transition: .4s;
	  transition: .4s;
	}

	input:checked + .slider {
	  background-color: green;
	  padding: 4px 4px;
	  color: #fff;
	}

	input:focus + .slider {
	  box-shadow: 0 0 1px #2196F3;
	}

	input:checked + .slider:before {
	  -webkit-transform: translateX(26px);
	  -ms-transform: translateX(26px);
	  transform: translateX(26px);
	}

	/* Rounded sliders */
	.slider.round {
	  border-radius: 34px;
	}

	.slider.round:before {
	  border-radius: 50%;
	}
	.tooltip-inner {
		background-color: #605ca8;
		font-size: 14px;
	}
	.tooltip.bs-tooltip-right .arrow:before {
		border-right-color: #605ca8 !important;
	}
	.tooltip.bs-tooltip-left .arrow:before {
		border-right-color: #605ca8 !important;
	}
	.tooltip.bs-tooltip-bottom .arrow:before {
		border-right-color: #605ca8 !important;
	}
	.tooltip.bs-tooltip-top .arrow:before {
		border-right-color: #605ca8 !important;
	}
	.inactiveLink {
		pointer-events: none;
		color: #a6a7a8;
	}
	.inactiveLink.slider round {
		pointer-events: none;
		color: #a6a7a8;
	}
	.inactiveLinkParent {
		cursor: not-allowed;
	} 
	span.brand-text{
	color:white;
	}
	.quick-options>li{
	display:inline-block;
	
	}
	.quick-options>li>a{
		font-size: 16px;
		color: #5e87a8 !important;
		font-weight: 700;
	}
	div.quick-options{
	float:right;
	display:inline-block;
	}
	.dropdown-menu{
	z-index:1001 !important;
	}
	.hint {
	color: #fff;
	background-color: rgba(255, 255, 255, .1);
	}

	.magic-icon-show{
	float:right;width:auto !important;margin-right:0 !important;display:unset !important;color:white !important;
	}
	.magic-icon-hide{
	display:none;
	}
	.sidebar{
	padding-right:0 !important;
	}
	.custom-header {
	background: #2c6aa0;
	position: fixed;
	width: 100%;
	z-index: 9999;
	}
	.nav-sidebar .nav-treeview {
	 padding-left: 0px !important; 
	}
	.accessdenied{
		/*background-color: #5e5e5e;*/
		background-color:#562525;
		pointer-events: none;
	}
	.accessdenied:hover {
		cursor: not-allowed!important;
	}
	.accessdenied_main{
		/*background-color: #5e5e5e;*/
		background-color:#562525;
	}
	.accessdenied_main:hover {
		cursor: not-allowed!important;
	}
	.accessdenied_view{
		background-color: #d7d7d7;
		pointer-events: none;
	}
	.accessdenied_view:hover {
		cursor: not-allowed!important;
	}
	.accessdenied_a{
		pointer-events: none;
	}
	.accessdenied_a:hover {
		cursor: not-allowed!important;
	}
	.accessdenied_b{
		background-color: #d7d7d7;
		pointer-events: none;
	}
	.accessdenied_b:hover {
		cursor: not-allowed!important;
	}
	.a-basic{
		display: inline-block;
		font-weight: 400;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		user-select: none;
		border: 1px solid transparent;
		padding: .375rem .75rem;
		font-size: 1rem;
		line-height: 1.5;
		border-radius: .25rem;
		transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
		color:black;
		background: #dddddd;
	}
	.a-basic:hover{
		color:black;
	}
	.brand-image {
		float: none !important;
	}    
	
	
	.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
		background: #f5f2f2 !important;
		
		cursor: default;
		border-radius: unset !important;
	}
	
	.dropdown-menu-lg .dropdown-item {
		
		border: 1px solid #ddd;
	}
	.form-group {
		margin-bottom: 5px !important;
	}
	.sidebar {
		padding-left: 0 !important;
	}
	.nav-sidebar .nav-treeview {
		padding-left: 15px !important;
	}
	.input-group-text {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: center;
		align-items: center;
		padding: .2rem .75rem;
		margin-bottom: 0;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.5;
		color: #495057;
		text-align: center;
		white-space: nowrap;
		background-color: #e9ecef;
		border: 1px solid #ced4da;
		border-radius: .25rem;
	}