@charset "utf-8";
/* CSS Document */

@import "css/reset.css";

/*----*****---- << General >> ----*****----*/
	
	body { font-weight:normal; font-size:14px; background:#ffffff; color:#666666; }
	
	/*----*****---- << Fonts >> ----*****----*/
	
	body, input[type=text], input[type=password], input[type=email], input[type=tel], input.text, textarea, input[type=submit], .mobile-menu, h4.border-title, .location h4, .button.ico, blockquote:before { font-family: 'Source Sans Pro', sans-serif; }
	h1, h2, h3, h4, h5, h6, .price { font-family: 'Titillium Web', sans-serif; }
	#main-menu ul li a, .legendLabel { font-family: 'Titillium Web', sans-serif; }
	.button { font-family: 'Open Sans', sans-serif; }
	
	/*----*****---- << Headings >> ----*****----*/
	
	h1, h2, h3, h4, h5, h6 { font-weight:normal; }	
	
	h1{ font-size:50px; line-height:normal; margin-bottom:25px; }
	h2{ font-size:24px; line-height:normal; margin-bottom:15px; }
	h3{ font-size:20px; line-height:normal; margin-bottom:15px; }
	h4{ font-size:18px; line-height:20px; margin-bottom:10px; }
	h5{ font-size:16px; line-height:20px; margin-bottom:10px; }
	h6{ font-size:14px; line-height:20px; margin-bottom:10px; }
	
	.border-title { border-bottom: 1px solid #f0efef; padding-bottom: 10px; *padding-bottom: 0px; margin-bottom:22px; }
	.border-title span { display: block; height: 1px; margin: 7px 0 -11px;  width: 140px; }
	sdf{ padding-bottom: 9px; position: relative; }

	h4.border-title { font-weight:600; padding-bottom:10px; line-height:35px; display:inline-block; }
	
	.main-title { padding:56px 0px 59px; }
	.main-title h2 { color:#fff; font-weight:300; font-size:50px; line-height:50px; margin:0px; }
	
	/*----*****---- << Transition >> ----*****----*/
	
	a, input[type=submit], button, input[type=button], .widget ul li, #secondary .widget h3.widgettitle, #secondary .widget h3.widgettitle a:before, #secondary h2.filtering, #secondary h2.filtering span:before, .service [class^="icon-"], .service h4 , .pr-tb-col:hover:after, .portfolio .portfolio-thumb > img, .portfolio:hover .portfolio-thumb > img, .portfolio-title p, .button.ico i:after, .button.ico:hover i:after { -webkit-transition:all 300ms linear; -moz-transition:all 300ms linear; -o-transition:all 300ms linear; -ms-transition:all 300ms linear; transition:all 300ms linear; }
	
	.portfolio:hover .portfolio-detail, .portfolio .portfolio-detail { -webkit-transition:all 500ms linear; -moz-transition:all 500ms linear; -o-transition:all 500ms linear; -ms-transition:all 500ms linear; transition:all 500ms linear; }
	

	/*----*****---- << Text Elements >> ----*****----*/
	
	a{ text-decoration:none; }
	a:hover { color:#333334; }
	a img{ border:none; }
	
	strong{ font-weight: bold; }
	em{ font-style: italic; }
	
	address { display:block; margin:10px 0px 20px; }
	abbr {  border-bottom:1px dotted #3d3d3d; cursor:help; }
	ins { background:#FFF9C0; }
	sub, sup { font-size:75%; line-height:0; position:relative; vertical-align:baseline; }
	sub { bottom: -3px; }
	sup { bottom: -3px; }	
	
	p { line-height:24px; margin-bottom:10px; }	
	ul, ol, pre, code{ margin-bottom:20px; }
	
	ul{ list-style-type:square; list-style-position:inside; }
	ul li { padding-bottom:10px; }
	ul li ul { list-style-type:disc; padding-left:20px; margin:10px 0px 0px; }
	ul ul ul { margin-bottom:0px; list-style-type:circle; }
	
	ol{ list-style-type:decimal; list-style-position:outside; padding-left:20px; padding-top:10px; }
	ol li { padding-bottom:10px; }
	ol li ol { margin-bottom:0px; list-style-type:lower-alpha; }
	ol ol ol { margin-bottom:0px; list-style-type:lower-roman; }	
	
	blockquote{ line-height:25px; font-style:italic; font-size:16px; padding:0 0 0 30px; margin:25px 0px 30px; display:block; position:relative; }
	blockquote span { background-color:#e6e2d6; background-position:-354px -234px; width:70px; height:70px; float:left; margin:0px 10px 0px 0px; border-radius:70px; }
	blockquote p { margin-bottom:0px; }
	blockquote cite { float:right; margin:10px 0px 0px; font-size:14px; }
	
	blockquote:before { content:'"'; content:open-quote; font-size:60px; font-style:italic; color:#666666; position:absolute; left:-5px; top:13px; font-weight:normal; }
	blockquote:after { content:'"'; content:close-quote; font-size:60px; font-style:italic; color:#666666; position:absolute; width:30px; bottom:-17px; font-weight:normal; }
	
	blockquote.alignleft { margin-right:20px; text-align:left; width:30%; float:left; }
	blockquote.alignright { margin-left:20px; text-align:left; width:30%; float:right; }
	blockquote.aligncenter { width:100%; text-align:center; }
	
	pre, code{ border-left:3px solid #f8cc6e; background-color:#e6e2d6; display:block; padding:10px; font-size:11px; font-family: monospace; width:96.5%; overflow:auto; }
	
	hr{ background-color:#e6e2d6; border:none; height:1px; margin:30px 0; }
	
	/* due to IE <HR> margin bugs I had to made classed and apply them to div to achieve the effect of a <HR> */
	
	.hr{ background:url(images/splitter.html) repeat-x; height:10px; width:100%; clear:both; display:block; float:left; margin:40px 0px; position:relative; z-index:1; }
	.hr-border { border:4px double #e6e2d6; width:100%; clear:both; display:block; float:left; margin:50px 0px; position:relative; z-index:1; border-radius:5px; }
	.hr-invisible { float:left; width:100%; margin:40px 0px; display:block; clear:both; }
	.hr-invisible-small { float:left; width:100%; margin:20px 0px; display:block; clear:both; }
	.hr-invisible-very-small { float:left; width:100%; margin:10px 0px; display:block; clear:both; }
	
	.hr.top, .hr-border.top { width:97%; }
	.hr.top, .hr-border.top { background-position:right center; text-align:right; }
	.hr.top a, .hr-border.top a { color:#999589; background:transparent; font-size:11px; line-height:16px; padding-left:5px; position:absolute; right:-21px; top:-5px; }
	.hr-border.top a { top:-10px; right:-23px; }
	.hr.top a:hover, .hr-border.top a:hover { color:#e96666; }
	
	.clear { float:none; clear:both; margin:0px; padding:0px; }
	.float-right { float:right; }
	.float-left { float:left; }
	.center { width:100%; text-align:center; }
	.hidden { display:none;}
	
	.post-edit-link { background:#e5e5e5; color:#5a5a5a; float:right; clear:both; margin:20px 0px 0px; line-height:24px; padding:0px 10px; font-size:12px; }
	.post-edit-link:hover { background:#4C4C4C; color:#ffffff; text-shadow:0px 1px 0px #0e4b6e; }	
	
	/*----*****---- << Tables >> ----*****----*/
	
	table{ border-collapse:separate; border-spacing:0; margin-bottom:20px; width:100%; clear:both; border:1px solid #dfdfdf; border-bottom:0px; border-right:0px;  }
	th{ background:#333334; color:#ffffff; border-bottom:5px solid #dfdfdf; border-right:1px solid #e4e4e4; padding:17px 15px; font-size:16px; line-height:normal; font-weight:bold; text-transform:uppercase; text-align:center; }
	td{ border-right:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf; background:#f7f7f7; font-size:14px; line-height:normal; text-align:center; padding:13px 15px; }
	
	/*----*****---- << Definition Lists >> ----*****----*/
	
	dl { margin:0px 20px; }
	dl.gallery-item { margin:0px; }
	.gallery-caption { margin-bottom:10px; }
	.gallery-item img { border:2px solid #C4C1AE !important; }
	dt { font-weight:bold; font-size:14px; margin-bottom:10px; }
	dd { margin-bottom:20px; line-height:20px; }	
		
	/*----*****---- << Forms >> ----*****----*/
	
	label{ font-size:14px; color:#2e2a2b; font-weight:bold; font-size:14px; }
	label span{ color:#b4b4b4; }

	fieldset{ border:1px solid #efefef; padding:15px; margin:0 0 20px 0; }
	legend{ font-weight: bold; }
	
	input[type="text"], input[type="email"], input[type="password"], input[type="tel"], textarea{ background:#ffffff; border-left:1px solid #dddddd; border-top:1px solid #dddddd; border-radius:5px; color:#666666; padding:13px 15px; display:block; font-size:14px; margin:10px 0 10px; }
	input[type="text"].error, input[type="email"].error { padding:13px !important; }
	input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input.text:focus, textarea:focus{ border-color:#a1a1a1; }
	input[type="text"], input[type="email"], input[type="password"], input.text, textarea, input[type="tel"] { width:95%; }
	textarea { height:85px; overflow:auto; resize:none; }
	select{ background:#ededed; border:1px solid #c4c4c4; padding:10px; margin:10px 0 10px; display:block; }
	
	input[type=submit], button, input[type=button] { color:#ffffff; text-transform:capitalize; margin:10px 0px 0px; font-size:16px; padding:11px 20px; float:right; cursor:pointer; }	
	
	#searchform input[type="text"] { border:none; text-transform:uppercase; color:#aaaaaa; font-size:12px; width:260px; }
	
	/*----*****---- << Images >> ----*****----*/
	
	#primary img { max-width:100%; }
	
	.post-content input[type="submit"] { float:none; }
	
	.wp-caption { background:#C4C1AE; border:1px solid #C4C1AE; margin-bottom:10px; margin-top:10px; max-width:96%; padding:5px 7px 7px 5px; }
	.wp-caption img { display:block; margin: 0 auto; padding:6px; max-width:98%; }
	.wp-caption .wp-caption-text { text-align:center; padding-top:0px; margin:0px; }
	
	img.size-auto, img.size-large, img.size-full, img.size-medium { max-width:99.6%; height: auto; }
	.alignleft, img.alignleft { display: inline; float: left; margin-right: 20px; }
	.alignright, img.alignright { display: inline; float: right; margin-left: 20px; }
	.aligncenter, img.aligncenter { clear: both; display: block; margin-left: auto; margin-right: auto; text-align:center; }
	.alignleft, .alignright, .aligncenter, .alignnone, img.alignleft, img.alignright, img.aligncenter { margin-bottom:20px; }
	
		/*----*****---- << Columns >> ----*****----*/
	
	.column { margin:0px 2% 0px 0px; float:left; min-height:1px; position:relative; }
	.column.last { margin-right:0px; }	
	
	.one-column { width:100%; }
	.column.one-column { margin-right:0px; }
	
	.one-fourth { width:23.4%; }
	.one-half { width:48.9%; }
	.one-third { width:31.9%; }
	.three-fourth { width:74.5%; }	
	.two-third { width:65.8%; }
	
	.one-fifth { width:18.3%; }
	.four-fifth { width:79.6%; }
	.three-fifth { width:59.2%; }
	.two-fifth { width:38.8%; }
	
	.one-sixth { width:15%; }
	.two-sixth { width:30%; }
	.three-sixth { width:45%; }
	.four-sixth { width:60%; }
	.five-sixth { width:75%; }		
	
	.column img { max-width:100%; height:auto; }
	
	.one-half iframe, .one-third iframe, .one-fourth iframe, .three-fourth iframe, .two-third iframe, iframe { max-width:100%; }
	embed, iframe, object, video { max-width:100%; }
	
	.column.no-space { margin-right:0px; }
	.column.no-space.one-fourth { width:24.9%; } 	
	.column.no-space.one-third { width:33.2%; }	
	.column.no-space.one-half { width:50%; }
	.column.no-space.one-fifth { width:19.8%; }
	.column.no-space.one-sixth { width:16.5%; }
	
	.column.no-space.three-fourth { width:74.9%; }
	.column.no-space.two-third { width:66.5%; }		
	.column.no-space.four-fifth { width:79.9%; }
	.column.no-space.three-fifth { width:60%; }
	.column.no-space.two-fifth { width:40%; }		
	.column.no-space.two-sixth { width:33.4%; }
	.column.no-space.three-sixth { width:50%; }
	.column.no-space.four-sixth { width:66.6%; }
	.column.no-space.five-sixth { width:83.2%; }
	
	/* Margining
	-------------------------------------------------------------- */
	.margin5, .margin10, .margin15, .margin20, .margin25, .margin30, .margin35, .margin40, .margin45, .margin50, .margin55, .margin60, .margin65, .margin70, .margin75, .margin80, .margin85, .margin90, .margin100 { width:100%; clear:both; background-color:transparent; }
	.margin5 { height:5px; }
	.margin10 { height:10px; }
	.margin15 { height:15px; }
	.margin20 { height:20px; }
	.margin25 { height:25px; }
	.margin30 { height:30px; }
	.margin35 { height:35px; }
	.margin40 { height:40px; }
	.margin45 { height:45px; }
	.margin50 { height:50px; }
	.margin55 { height:55px; }
	.margin60 { height:60px; }
	.margin65 { height:65px; }
	.margin70 { height:70px; }
	.margin75 { height:75px; }
	.margin80 { height:80px; }
	.margin85 { height:85px; }
	.margin90 { height:90px; }
	.margin100 { height:100px; }
	
	
	/*----*****---- << Widgets >> ----*****----*/
	
	.widget { float:left; width:100%; padding:0px 0px 40px; margin:0px; }
	.widget h3.widgettitle { font-size:16px; padding-bottom:10px; }
	
	.widget ul { float:left; width:100%; margin:0px; padding:0px; }
	.widget ul li { float:left; display:block; clear:both; width:100%; font-size:16px; font-weight:bold; padding-bottom:0px; }
	.widget ul li a { color:#333334; line-height:20px; padding:13px 25px 15px 25px; display:block; position:relative; background:url(images/thin-border.html) bottom repeat-x; }
	
	
	.widget ul ul { margin-top:10px; margin-left:20px; }
	.widget ul ul li { width:90%; }
	
	/*----*****---- << Container >> ----*****----*/
	
	.container { margin:0 auto; width:940px; }
	.boxed .wrapper { width:1020px; margin:0 auto; float:none; }
	.boxed .inner-wrapper { float:left; width:100%; background:#ffffff; margin:0px; padding:0px; overflow:hidden; position:relative; }
	.boxed #header { width:1020px; margin:0 auto; }
	
	/*----*****---- << Float >> ----*****----*/
	
	.wrapper, #header, .banner, .shadow, .main-title, .content, .content-main, .contact-frm, footer, .copyright { float:left; width:100%; }
	
	/*----*****---- << PIE >> ----*****----*/
	
	.button, .demo-btn a.demo, .demo-btn a.purchase, .portfolio .image-overlay a span, ul.tabs-vertical-frame li a span { behavior:url(PIE.htc); }
	
	 ul.tabs-vertical-frame li a span  { position:relative\0/; z-index:1\0/; } 	
	
	
	.portfolio .image-overlay a.zoom, .portfolio .image-overlay a.link, ul.products li .product-thumb .product-overlay a, .portfolio .image-overlay a span { z-index:-1\0/; }
	.portfolio:hover .image-overlay a.zoom, .portfolio:hover .image-overlay a.link, ul.products li .product-thumb:hover .product-overlay a, .portfolio:hover .image-overlay a span { z-index:1\0/; }
	
	/*----*****---- << Header >> ----*****----*/
	
	#header { display: block; left: 0; margin: 0; padding: 0; position: fixed; right: 0; top: 0; width: 100%; z-index: 9999; }
	
	#logo { float:left; margin-top:7px; }
	
	#logo a { display: block; } 
	
	/*----*****---- << Main Menu >> ----*****----*/
	
	.group:after { visibility: hidden; display: block; content: ""; clear: both; height: 0; }
	*:first-child+html .group { zoom: 1; } /* IE7 */

	#main-menu { float:right; }
	#main-menu ul { margin: 0 auto; list-style: none; position: relative; }
	#main-menu ul li { display: inline-block; padding:0; float:left; }
	#main-menu ul a { color: #fff; font-size: 16px; float: left; padding: 35px 15px; text-decoration: none;	text-transform: capitalize; }
	#main-menu ul a:hover { color: white; }
	#magic-line { position: absolute; bottom: -5px; left: 0; width: 100px; height: 5px;	padding:0; background: #fff; }
	.ie6 #main-menu ul li, .ie7 #main-menu ul li { display: inline; }
	.ie6 #magic-line { bottom: -3px; }
	
	/*----*****---- << Responsive Menu >> ----*****----*/
	
	.mobile-menu { display:none; background-color:#1F84AC; color:#fff; background-image:url(images/responsive-nav-bg.png); background-position:center right; background-repeat: no-repeat; border:none; border-radius:0px; width:100%; margin:6px 0px 10px; padding-left:5px; -webkit-appearance:none; -moz-appearance:none; appearance:none; cursor:pointer; padding-right:14px; }
	
	/*----*****---- << Home >> ----*****----*/
	#home { background:#f5f5f5; padding-bottom:40px; }
	.content { padding: 0 0 90px; }
	
		/*----*****---- << Banner >> ----*****----*/
		.banner { margin-top:92px; background:#e8e8e8; }
		.banner img { max-width:100%; }
		.shadow { background:url(images/banner-bottom-shadow.png) bottom no-repeat; height:24px; }
		.welcome p { font-size:16px; }
		
		.bottom-slider { float:left; clear:both; width:100%; margin:0px; padding:0px; }
		
		
	/*----*****---- << Services >> ----*****----*/
	.content-main { background:#fff; box-shadow:0 62px 38px -38px #E7E7E7 inset; padding-top:100px; }
	.service { border-top:5px solid #dcdbe1; float:left; display:inline-block; padding:40px 10px; position:relative; text-align: center; }
	
	.service:hover { background:transparent; }
	.service:before { position:absolute; content:""; right:0; border-right:5px solid #dcdbe0; top:0; height:112px; }
	.service:after{ position:absolute; content:""; height:12px; right:0; bottom:0; }
	.column.last .service:after, .column.last .service:before { content:none; }
	
	.service p { padding-bottom: 0; color:#999; }
	.service:hover p { color:#666666; }
	.service [class^="icon-"] { font-size: 60px; display: inline-block; line-height: 1; margin-bottom: 20px; }
	.service h4 { margin-bottom: 10px; font-weight:600; }
	.last { margin-right:0; }
	
	/*----*****---- << Custom Services >> ----*****----*/
	.custom-services { position:relative; padding-left:80px; }
	.custom-services span { width:65px; text-align:center; position:absolute; left:0; }
	.custom-services .icon-one { background:url(images/icon-one.png) center top no-repeat; height:100px; }
	.custom-services .icon-two { background:url(images/icon-two.png) center top no-repeat; height:67px; }
	.custom-services .icon-three { background:url(images/icon-three.png) center top no-repeat; height:63px; }
	.custom-services .icon-four { background:url(images/icon-four.png) center top no-repeat; height:53px; }
	.custom-services .icon-five { background:url(images/icon-five.png) center top no-repeat; height:70px; }
	.custom-services .icon-six { background:url(images/icon-six.png) center top no-repeat; height:49px; }
	.custom-services .icon-seven { background:url(images/icon-seven.png) center top no-repeat; height:72px; }
	.custom-services .icon-eight { background:url(images/icon-eight.png) center top no-repeat; height:69px; }
	.custom-services .icon-nine { background:url(images/icon-nine.png) center top no-repeat; height:58px; }
	
	/*----*****---- << Testimonial >> ----*****----*/
	
	.testimonial-wrapper figure.testimonial-thumb, .testimonial-wrapper figure.testimonial-thumb > .item-mask { width:180px; height:206px; }
		
	.testimonial-wrapper figure.testimonial-thumb { position:relative; overflow:hidden; left:0; top:0; display:block; margin:0px 40px 0px 0px; float:left; }
	.testimonial-wrapper figure.testimonial-thumb > .item-mask { -webkit-transition: all 0.2s ease; -moz-transition: opacity 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease; position: absolute; left:0; top:0; z-index:999; width:180px; height:206px; overflow:hidden; }
	figure img { width: 100%; height: auto; }
	.testimonial-wrapper figure.testimonial-thumb img { display: block; }
	.testimonial-content-wrapper { float:left; width:76%; margin:15px 0px 0px; }
	.author-meta p { font-size:16px; font-weight:600; margin-bottom:0; }
	.author-meta span { font-style:italic; font-size:14px; }
	
	.testimonial-wrapper figure.testimonial-thumb.alignright {  margin:0px 0px 0px 40px; float:right; }
	
	.testimonial-wrapper { position:relative; }
	.testimonial-wrapper .quotes_wrapper { margin:0px; }
	.testimonial-wrapper .quotes_wrapper li { list-style:none; padding:0px; }
	
	.testimonial-wrapper .quovolve-nav  { width:100%; text-align:center; margin:10px 0px 0px; clear:both; }
	.testimonial-wrapper .nav-numbers { width:100%; text-align:center; margin:0px; padding:0px; }
	.testimonial-wrapper .nav-numbers li { display:inline-block; margin:0px 5px; padding:0px; }
	.testimonial-wrapper .nav-numbers li a { text-indent:-9999px; background:#dddddd; width:10px; height:10px; border-radius:10px; display:inline-block; cursor:pointer; }
	.testimonial-wrapper .nav-numbers li a:hover { background:#666666; }
	
	/*----*****---- << Newsletter >> ----*****----*/
	.newsletter-container { background: url(images/mail-ico.png) no-repeat scroll 13px 6px #F5F5F5; border:1px solid #eff0f0; float: left; padding:20px 20px 40px; width: 96.5%; border-radius:5px; }
	.newsletter-container h2 { color:#666666; }
	
	.newsletter-form { float:left; width:100%; margin:5px 0px 0px; }
	.newsletter-form input[type="email"] { float: left; width: 66.5%; background:#ffffff; border-bottom-right-radius: 0; border-top-right-radius: 0; border-right:none; border-bottom:none; padding:14px 15px; margin:0px; }
	.newsletter-form input[type="text"] { *width:240px; float:left; }
	.newsletter-form input[type="submit"] { float:left; border-top-left-radius: 0px; border-bottom-left-radius: 0px; padding:11px 20px 12px; min-height:47px; min-height: 22px\0/; *min-height:45px; *height:0; margin:0px; }
	.newsletter-form input[type="email"].error, .newsletter-form input[type="text"].error { padding:12.5px 15px !important; }
	input.error { border:2px solid #ff0000 !important; border-right:none !important; }
	.contact-frm input.error { border-right:2px solid #ff0000 !important; }
	
	/*----*****---- << progress Bar chart >> ----*****----*/
	
	.legend-wrapper, .legend { float:left; width:100%; }
	.legend { margin:10px 0; }
	
	.legendColorBox, .legendLabel { float:left; margin-right:20px; }
	.legendLabel { font-size:20px; }
	.legendColorBox { height: 20px; overflow: hidden; width: 60px; }
	
	.orange .legendColorBox { background:#ec7e00; }
	.blue .legendColorBox { background:#0089cf; }
	
	.progress-bar-wrapper #donutchart1, .progress-bar-wrapper #donutchart2, .progress-bar-wrapper #donutchart3, .progress-bar-wrapper #donutchart4 { margin:0 auto 33px; display:block; height:140px; }
	.progress-bar-wrapper #donutchart1 div span, .progress-bar-wrapper #donutchart2 div span, .progress-bar-wrapper #donutchart3 div span, .progress-bar-wrapper #donutchart4 div span { text-align:center; width:100%; font-size:50px; font-weight:normal; }
	.progress-bar-wrapper #donutchart1 div, .progress-bar-wrapper #donutchart2 div, .progress-bar-wrapper #donutchart3 div, .progress-bar-wrapper #donutchart4 div { font-weight:normal; }
	.progress-bar-wrapper #donutchart1 div, .progress-bar-wrapper #donutchart2 div, .progress-bar-wrapper #donutchart3 div, .progress-bar-wrapper #donutchart4 div { font-family: 'Titillium Web', sans-serif; line-height:32px !important; top:21% !important; top:21%\0/ !important; }
	
	.progress-bar-wrapper #donutchart1 div span { color:#E74D3C; }
	.progress-bar-wrapper #donutchart2 div span { color:#FF7F50; }
	.progress-bar-wrapper #donutchart3 div span { color:#8aba23; }
	.progress-bar-wrapper #donutchart4 div span { color:#35aad8; }
	
	/*----*****---- << Intro text >> ----*****----*/
	
	.intro-text { background:#f5f5f5; border-top:5px solid #eff0f0; border-bottom:5px solid #eff0f0; float:left; width:100%; text-align:center; }
	
	.intro-text .container { padding:40px 15px 50px; }
	
	.intro-text h2 { font-size:50px; }
	
	.demo-btn { display:inline-block; position:relative; margin:0 auto; font-size:16px; font-weight:600; *width:300px; }
	.demo-btn a { float:left; padding:30px; color:#ffffff;  text-transform:capitalize; }
	.demo-btn a.purchase { border-top-left-radius:15px; border-bottom-left-radius:15px;  }
	.demo-btn a.demo { border-top-right-radius:15px; border-bottom-right-radius:15px; }
	.demo-btn span { font-size:16px; font-weight:600; line-height:29px; background:#fff; padding:0px; width:30px; height:30px; border-radius:30px; position: absolute; top:32%; left:42%; left: 42%\0/; *left: 39%;  }
	
	/*----*****---- << Portfolio >> ----*****----*/
	
	.sorting-container { float:left; clear:both; margin:0px 0px 30px; padding:0px; width:100%; }
	.sorting-container a { font-size:16px; line-height:50px; padding:0px 15px; background:#f5f5f5; margin:0px 1px 10px 0px; float:left; border-bottom:3px solid #eff0f0; position:relative; }
	
	
	.portfolio { background:#f6f6f6; margin-bottom:20px; }
	.portfolio.one-third { width:31.9%; }
	
	.portfolio .portfolio-thumb { float: left; overflow: hidden; padding: 0; position: relative; width:100%; }
	.portfolio-thumb > img { float:left; display:block; }
	
	.portfolio.one-third .portfolio-thumb img { height:225px; }
	
	.portfolio-title { float:left; width:70.2%; margin-top:3px; padding:0 10px; }
	.portfolio-title h4 { font-size:20px; }
	.portfolio-title h4, .portfolio-title p { margin-bottom:0; }
	.portfolio-title p  a, .portfolio-title p { color:#9a9a9a; text-transform:capitalize; }
	
	.portfolio-detail { display: inline-block; padding: 8px 0; width: 100%; }
	.portfolio-detail .views { background:#ffffff; color:#b6b6b6; float:left; padding:8px 23px 7px; }
	.views > span { line-height:16px; }
	
	.portfolio:hover .portfolio-title h4 a, .portfolio:hover .portfolio-title p a, .portfolio:hover .portfolio-title p { color:#fff; }
	
	.image-overlay { float: left; height: 100%; left: 0; opacity: 0; filter:alpha(opacity=0); position: absolute; top: 0; transition: opacity 0.5s ease-in-out 0s; width: 100%; }
	
	.portfolio .image-overlay a span { background:#fff; border-radius: 46px; opacity: 0; filter:alpha(opacity=0); cursor: pointer; display: inline-block; font-size: 18px; height: 46px; line-height: 46px; width: 46px; text-align:center; }
	
	.portfolio:hover .image-overlay, .portfolio:hover .image-overlay a span { opacity:1; filter:alpha(opacity=100); }
	.portfolio:hover .image-overlay a span:hover { color:#b6b6b6; }
	
	.portfolio .image-overlay a { display: inline-block; position: absolute; text-align: center; }
	.portfolio .image-overlay a.link { top:40.4%; left:0; }
	.portfolio .image-overlay a.zoom { top:40.4%; right:0; }
	
	.portfolio:hover .image-overlay a.link { left:33%; }
	.portfolio:hover .image-overlay a.zoom { right:33%; }
	
	.portfolio:hover .portfolio-thumb > img { -moz-transform: scale(1.5) rotate(25deg) translate(0px); -webkit-transform: scale(1.5) rotate(25deg) translate(0px); -o-transform: scale(1.5) rotate(25deg) translate(0px); transform: scale(1.5) rotate(25deg) translate(0px); }
	
	/*----*****---- << Contact >> ----*****----*/
	.location { background:#f5f5f5; border:1px solid #eff0f0; border-radius:5px; }
	.location h4.map-title { padding:22px; border-top-left-radius:5px; border-top-right-radius:5px; font-weight:600; color:#fff; margin-bottom:0; }
	.location { float:left; width:99.8%; }
	.location iframe { float:left; width:100%; }
	
	#map { height:300px; margin:0px; max-width:100%; position:relative; display:block; }	
	
	.contact-info { padding:0 20px; }
	.contact-info h4 { font-weight:600; margin-bottom:20px; }
	
	.contact-info .one-half .one-half h4, .contact-info .one-half .one-half a { padding-left:30px; }
	
	.contact-frm { margin-bottom:30px; }
	.contact-frm > input[type="text"] { width:44%; }
	.contact-frm .twocolumn { width:47.3%; }
	.contact-frm .twocolumn, .contact-frm > input[type="text"] { float:left; clear:left; margin-right:58px; }
	
	.contact-frm input[type="email"], .contact-frm input[type="tel"] { float:left; width:40.3%; }
	.contact-frm input[type="email"] { margin-right:20px; }
	
	.contact-frm textarea { width:42.6%; }
	
	.contact-frm input[type="submit"] { margin-top:30px; }
	
	/*----*****---- << Footer >> ----*****----*/
	footer { background:#f5f5f5; border-top:5px solid #eff0f0; padding-top:27px; }
	.copyright { padding:6px 0; padding-bottom:3px; color:#fff; border-top:5px solid #eff0f0; }
	.copyright p { float:left; margin-top:9px; }
	
	.support figure{ float:left; margin-top:-107px; width:211px; }
	.support figure img { float:left; }
	.support .support-info { padding-left:30px; float:left; margin-right:54px;}
	
	.support-info h2 { font-size:30px; margin-bottom:5px; color:#666666; }
	.support-info span.call { font-size:17px; font-weight:600; margin-bottom:10px; display:inline-block; }
	.support .ico { margin-top:17px; }
	
	footer .button.ico { float:right; }
	
	.copyright .social-media { float:right; margin-bottom:0; }
	.social-media > li { display:inline; float:left; padding-bottom:0; }
	.copyright .social-media li a { color: #FFFFFF; font-size: 23px; height: 40px; line-height: 40px; width: 40px; }
	
	/*----*****---- << Newsletter >> ----*****----*/
	#ajax_subscribe_msg { line-height:24px; }
	span.error-msg { color:#ac161a; }
	span.success-msg { color:#37a700; }
	
	#toTop { display:none; text-decoration:none; position:fixed; bottom:30px; right:30px; overflow:hidden; width:40px; height:40px; border:none; text-indent:100%; background:url(images/ui.totop.png) no-repeat left top; z-index:9999; }	
	#toTopHover { background:url(images/ui.totop.png) no-repeat left -40px; width:40px; height:40px; display:block; overflow:hidden; float:left; opacity: 0; -moz-opacity: 0; filter:alpha(opacity=0); }	
	#toTop:active, #toTop:focus { outline:none;	}
		
	/*----*****---- << Style Picker >> ----*****----*/		
	.dt-style-picker-wrapper { position:fixed; z-index:99999; left:0px; top:150px; }
	
	#dt-style-picker { background:#ffffff; width:225px; float:left; position:absolute; top:0px; z-index:1; margin:0px; padding:0px 0px 10px; text-align:center; box-shadow:0px 0px 10px rgba(0, 0, 0, 0.5); -moz-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.5); -webkit-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.5); }
	#dt-style-picker h2 { background:url(images/style-picker/title-bg.jpg) repeat-x; font:normal 12px Tahoma, Geneva, sans-serif; text-transform:uppercase; line-height:48px; width:100%; color:#848484; margin:0px 0px 15px; padding:0px;  }
	#dt-style-picker h3 { font:normal 12px Tahoma, Geneva, sans-serif; padding:0px 0px 10px; width:100%; color:#848484; margin:0px; text-transform:uppercase; }
	
	#dt-style-picker ul { float:left; margin:0px; padding:0px; text-align:center; width:225px; }
	#dt-style-picker ul li { display:inline-block; display:inline; list-style-type:none; padding:0px; margin:0px 0px 6px 0px; }
	#dt-style-picker ul li a { background:#ffffff; border:1px solid #ffffff; padding:2px; display:inline-block; margin:0px; line-height:0; }
	#dt-style-picker ul li a.selected, #dt-style-picker ul li a:hover { border:1px solid #d7d7d7; }
	#dt-style-picker ul li a img { border:1px solid #d7d7d7; }
	
	#dt-style-picker .hr { background:url(images/style-picker/seperator.png) no-repeat; width:100%; height:25px; margin:-10px 0px 10px; float:left; }
	
	.style-picker-ico { position:absolute; top:25px; left:225px; }