:root {
--green: #96c03d;
--active: #2c3f4c;
}
.content-body {
    margin-bottom: 50px;
}
/*body{
    overflow : hidden
}
.custom_body{
    overflow-y: scroll;
    overflow-x: hidden;
    
}
.custom_body::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
  
}

.custom_body::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

.custom_body::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}
*/
[data-sidebar-style="full"][data-layout="vertical"] .menu-toggle .mini-header {
    margin-left: 3.75rem;
}
.mini-header{
	position: fixed;
    left: 0px;
    right: 0px;
    margin-left: 12.1875rem;
    top: 48px;
    z-index: 1;
	background-color:#ffffff;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 5px;
}
.glyphicon-remove {
    color: red;
    font-size: 13px;
  }
  .wizard > .actions > ul > li {
    margin: 0 0.25em;
}

tbody{
    
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    
}

  .glyphicon-ok {
    color: green;
    font-size: 13px;
  }
  .glyphicon-remove:before {
    content: 'x';
    padding-right:5px;
    font-weight:bold;
  }
  .glyphicon-ok:before {
    content: '✓';
    padding-right:5px;
    font-weight:bold;
  }
  .qa{
    padding:5px 10px;
    border: 1px solid #bebaba;
    border-radius: 0.25rem;
  }
.wizard .content > .body .bootstrap-select {
    border: none !important;
}
.ck-editor__editable{
    min-height: 250px !important;
}
.error{
    width: 100%;
    margin-top: 0.25rem;
    font-size: 100%;
    color: #FF1616;
}
table.dataTable thead th, table.dataTable thead td {
    padding: 5px 5px !important;
    border-bottom: 1px solid #111;
	border-bottom: none !important;
}
.external-event {
    margin: 0px;
}
#external-events .external-event:before {
    margin-right: 5px;
}
.scl{
    position: relative;
    top: -5px;
}
.switch {
    top: 3px !important;
}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 5px 5px !important;
}

table.dataTable tbody td {
    padding: 5px 5px !important;
    font-size: 12px;
}
table.dataTable tbody tr:nth-child(even) {background-color: #f2f2f2 !important;}
table.dataTable tbody tr:nth-child(odd) {background-color: #fff;}
table tbody, table tfoot, table thead {
    border: 1px solid #f1f1f1;
    background-color: #fefefe;
}
table.dataTable.no-footer {
    border-bottom: 1px solid #f1f1f1;;
}
table thead {
    background: #e7e3e3;
    color: #0a0a0a;
    border: 1px solid #f1f1f1;
    text-transform: uppercase;
}
table td, table th {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    font-family: Lato,Arial,sans-serif !important;
    vertical-align: inherit;
    border-left: none!important;
    border-right: none!important;
    color: #415a71 !important;
    font-weight: 700 !important;
}
table {
    border: 1px solid #f1f1f1;
}
.daterangepicker td.active:hover {
    background-color: #2c3f4c;
    color: white  !important;
}
.daterangepicker td.active {
    background-color: #2c3f4c;
    color: white  !important;
}
.form-group {
    margin-bottom: 5px;
}
.btn ,.dataTables_wrapper .dataTables_paginate .paginate_button,button.dt-button {
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-radius: 4px;
}

.dataTables_wrapper input[type="search"], .dataTables_wrapper input[type="text"], .dataTables_wrapper select {
    padding: unset;
}
.input-group-text {
    font-size: 12px;
}
.form-check-label {
    font-size: 13px;
}
.form-group .clearfix{
    padding-top: 10px;
    font-size: 13px;
}
.btn-sm {
    padding: 5px 10px;
    font-size: 10px;
    line-height: 1.5;
    border-radius: 3px;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bebaba;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-outline-dark {
    color: #555;
    background-color: #fff;
    border-color: #ccc;
}
.dt-button {
    color: #555 !important;
    background-color: #fff !important;
    border-color: #ccc !important;
}
#PathPlaceBtn {
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    height: 28px;
    line-height: 26px;
    padding: 0;
    width: 290px;
    cursor: text;
    overflow: hidden;
}
#PathPlaceBtn ol {
    display: inline-block;
    height: 26px;
    width: auto;
    position: relative;
}
#PathPlaceBtn li {
    background: url(../images/icons/ico-ltr.png) no-repeat right center;
    padding-left: 10px;
    padding-right: 18px;
    float: left;
    font-size: 12px;
    height: 26px;
    line-height: 26px;
}
.backBtn {
    color: #666;
    border-radius: 0;
    height: 28px;
    line-height: 8px;
    margin-right: -1px;
    margin-top: -1px;
    vertical-align: top;
}
.btn-default {
    color: #555;
    background-color: #fff;
    border-color: #ccc;
}
.nav-tabs.wizard {
    background-color: transparent;
    padding: 0;
    width: 100%;
    margin: 0em auto;
    border-radius: .25em;
    clear: both;
    border-bottom: none;
    }
    /*.nav-tabs.wizard li {
    width: 100%;
    float: none;
    margin-bottom: 3px;
    }*/
    .nav-tabs.wizard li>* {
    position: relative;
    padding: .3em .4em .4em .3em;
    color: #999999;
    background-color: #dedede;
    border-color: #dedede;
    }
    .nav-tabs.wizard li.completed>* {
    color: #fff;
    background-color: var(--green);
    border-color: var(--green);
    }
    .nav-tabs.wizard li.active>* {
    color: #fff;
    background-color: var(--active);
    border-color: var(--active);
    }
    .nav-tabs.wizard li::after:last-child {
    border: none;
    }
    .nav-tabs.wizard > li > a {
    opacity: 1;
    font-size: 14px;
    }
    .nav-tabs.wizard li.active>* {
        color: #fff;
        background-color: var(--active);
        border-color: var(--active);
    }
    .wizard > .steps li a:hover {
        margin: 0;
        background-color: #dedede;
        border-radius: 0;
        color: #333;
    }
    span.number {
    display: inline-block;
    padding: 5px;
    width: fit-content;
    line-height: 100%;
    border-radius: 5px;
    margin: auto;
    font-weight: bold;
    font-size: 13px;
    color: #555;
    margin-bottom: 0px;
    text-align: center;
    }
    .nav-tabs.wizard li {
    position: relative;
    padding: 0;
    margin: 4px 4px 4px 0;
    width: 19.6%;
    float: left;
    }
    .nav-tabs.wizard li.active a {
     padding-top: 15px;
    }
    .nav-tabs.wizard li::after,
    .nav-tabs.wizard li>*::after {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    height: 0;
    width: 0;
    border: 0.942rem solid transparent;
    border-right-width: 0;
    /*border-left-width: 20px*/
    }
    .nav-tabs.wizard li::after {
    z-index: 1;
    -webkit-transform: translateX(4px);
    -moz-transform: translateX(4px);
    -ms-transform: translateX(4px);
    -o-transform: translateX(4px);
    transform: translateX(4px);
    border-left-color: #fff;
    margin: 0
    }
    .nav-tabs.wizard li a {
        position: relative;
        padding: .3em .4em .4em .3em;
        color: #555;
        background-color: #dedede;
        border-color: #dedede;
    }
    .nav-tabs.wizard li.current>* {
        color: #fff;
        background-color: var(--active);
    }
    .wizard > .steps li.current a::after {
    z-index: 2;
    border-left-color: #77767c;
    }
    .nav-tabs.wizard li>*::after {
        z-index: 2;
        border-left-color: inherit;
    }

    .nav-tabs.wizard li:last-child a {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    }
    .nav-tabs.wizard li:first-child a {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .nav-tabs.wizard li:last-child {
    margin-right: 0;
    }
    .nav-tabs.wizard li:last-child a:after,
    .nav-tabs.wizard li:last-child:after {
    content: "";
    border: none;
    }
    span.number {
    display: block;
    }
    :root {
    --green: #96c03d;
    --active: #2c3f4c;
    }
    .active .step{
    color:#fff !important;
    }
    .nav-tabs .nav-link:hover {
    border-color: #dedede;
    }
.sidebar-right .tab-content .tab-pane .admin-settings input[type="radio"]:checked + label::after {
    height: 23px;
    width: 23px;
    left: 0px;
    border: 1px solid white;
    top: 0px;
    content: "";
    position: absolute;
    background-color: inherit;
    /* border-radius: 6px; */
    opacity: 0.4;
}
.wizard > .steps > ul > li {
    width: 24.7%;
}
.card-header {
    border-color: #eaeaea;
    position: relative;
    background: transparent;
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 0px; */
}
.card-body {
    padding: 5px 10px;
}
table thead th, table.dataTable thead td {
    padding: 5px 10px;
    border-bottom: 1px solid #111;
    font-size: 12px;
}

table tbody th, table.dataTable tbody td {
    padding: 5px 5px !important;
    font-size: 12px;
}
.custom-control {
    position: relative;
    display: block;
    min-height: 1rem;
    padding-left: 1.50rem;
}
.custom-control-label:before, .custom-control-label:after {
    top: -0.063rem;
    width: 1rem;
    height: 1rem;
    border-color: #e7e7e7;
}
.recentOrderTable table tbody td {
    color: #454545;
    font-weight: 500;
    line-height: unset;
}
.nav-header,.header {
    height: 3rem;
}
.deznav {
    top:3rem;
}
[data-header-position="fixed"] .content-body {
    padding-top: 3rem;
}
[data-header-position="fixed"][data-layout="horizontal"] .deznav {
    top: 3rem;
}
[data-header-position="fixed"][data-layout="horizontal"][data-sidebar-position="fixed"] .content-body {
    padding-top: 5.5rem;
}
.sidebar-right .tab-content {
    padding: 2.25rem 1.25rem;
}
.sidebar-right {
    margin-top: -1rem;
}
.welcome-text{
    position: relative;
    right: 0%;
}
.badge {
    width: 100%;
}
.footer {
    padding-left: 12.1875rem;
    background-color: #FFFFFF;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.wizard > .actions {
    width: fit-content;
}
.header-right .nav-item .nav-link {
    color: #464a53;
    font-size: inherit;
}
.wizard > .steps li a .number {
    display: contents;
}
.wizard > .steps .number {
    font-size: 13px;
}
.current a span.number {
    color: #fff;
}
.wizard > .steps li.disabled a:hover, .wizard > .steps li.done a:hover {
    margin: 0;
    background-color: #dedede;
    border-radius: 0;
    color: #333;
}
.wizard > .steps li.disabled a, .wizard > .steps li.done a {
    background-color: #dedede;
    color: #333;
    border-right: none;
}
.dropdown-menu{
    transform: none !important;
}
.dropdown-menu .inner{
    max-height: 200.3px !important;
}
.dataTables_wrapper .dataTables_length {
    margin-bottom: 0px;
}
.dataTables_length .bootstrap-select .btn, .dataTables_wrapper input[type="search"] {
    padding: 0px 5px !important;
}


/*Anil CSS*/
   .switch {
	  position: relative;
	  display: inline-block;
	  width: 38px;
	  height: 16px;
	  
	}
	.switch1 {
	  position: relative;
	  display: inline-block;
	  width: 38px;
	  height: 16px;
	  top: 10px;
	  
	}
	.switch input { 
	  opacity: 0;
	  width: 0;
	  height: 0;
	}

	.slider {
	  position: absolute;
	  cursor: pointer;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  /*background-color: #ccc;*/
	  background-color:#d94848;
	  -webkit-transition: .4s;
	  transition: .4s;
	}

	.slider:before {
	  position: absolute;
	  content: "";
	  height: 10px;
	  width: 10px;
	  left: 1px;
	  bottom: 3px;
	  background-color: white;
	  -webkit-transition: .4s;
	  transition: .4s;
	}

	input:checked + .slider {
	  background-color: green;
	  padding: 4px 4px;
	  color: #fff;
	}

	input:focus + .slider {
	  box-shadow: 0 0 1px #2196F3;
	}

	input:checked + .slider:before {
	  -webkit-transform: translateX(26px);
	  -ms-transform: translateX(26px);
	  transform: translateX(26px);
	}

	/* Rounded sliders */
	.slider.round {
	  border-radius: 34px;
	}

	.slider.round:before {
	  border-radius: 50%;
	}
  .main_menu{
	background: #f2f2f2;
	padding:5px;
	border-bottom:3px solid #fff;
  }
  .submenu_open{
	  border-left: 6px solid #17a2b8;
  }
  .permissioncls span{font-size:15px!important}

  .rowcls {background:#e1e1e1;border-bottom: 3px solid #fff;padding: 5px;}
  .notshow{display:none!important;}
  .show_cls{}
  .hide_cls{ display:none!important}
  .inactiveLink label span{
	  background:#d4d7d9!important;
  }
  
  .level1_clr{
	  /*background-color:#b7d7fa;*/
	 background-color:#c8ddf0;
  }
  .level2_clr{
	  /*background-color:#cfe4fc;*/
	  background-color:#d7e7f4;
	  margin-left:39px;
	  margin-right: 0px;
  }
  .level3_clr{
	  /*background-color:#e7f1fd;*/
	  background-color:#e6f0f8;
  }
  .level4_clr {
    /* background-color: #b7d7fa; */
    background-color: #f4faff;
}
.level_style{
	width:9%;
	font-size: 14px;
}
.l2_style{
	font-size: 16px;
    padding-left: 25px;
}
.l4_style{
	font-size: 16px;
    padding-left: 60px;
}
table tbody th, table.dataTable tbody td {
    padding: 5px 5px !important;
}
.dataTables_wrapper input[type="search"], .dataTables_wrapper input[type="text"], .dataTables_wrapper select {
    padding: 5px;
}
.wizard .actions ul li:nth-child(2), .wizard .actions ul li:nth-child(3) {
    float: left;
}

a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
    color: #fff;
}
.tox .tox-editor-header {
    z-index: 0;
}
.table td {
    padding: 0.25rem;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto, .col-xxl-1, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9, .col-xxl-10, .col-xxl-11, .col-xxl-12, .col-xxl, .col-xxl-auto {
    position: relative;
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
}